player-connection-mode=Listen
player-connection-guid=1477119726
player-connection-debug=0
player-connection-project-name=Mirror Lobby
player-connection-ip=192.168.1.5
player-connection-ip=192.168.122.1
player-connection-ip=192.168.84.1
player-connection-ip=192.168.172.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
headless=
